# Ignorar todos os arquivos e pastas por padrão
/*

# Permitir o próprio .gitignore
!.gitignore

# Permitir o Makefile
!Makefile

# Permitir arquivos específicos do exercício
!ClapTrap.cpp
!ClapTrap.hpp
!DiamondTrap.cpp
!DiamondTrap.hpp
!FragTrap.cpp
!FragTrap.hpp
!main.cpp
