# Ignorar todos os arquivos e pastas por padrão
/*

# Permitir o próprio .gitignore
!.gitignore

# Permitir o Makefile
!Makefile

# Permitir arquivos específicos dentro de ex01
ClapTrap.hpp
ClapTrap.cpp
ScavTrap.hpp
ScavTrap.cpp
main.cpp
